.InstagramMainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InstaFeed {
  display: flex;
  justify-content: center;
}

.InstaImgCont {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 5px;
}

.InstaImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

@media (max-width: 768px) {
  .InstaFeed {
    width: 100%;
  }
  
  .InstaImgCont {
    width: 100px;
    height: 100px;
  }
}