.InstaFeed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.InstaImgCont {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 5px;
}

.InstaImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}