.TabsMainContainer {
  margin-bottom: 50px;
}

.btn_tabs {
  font-family: "Mea Culpa", cursive;
  color: #7D7C7C;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 0;
  letter-spacing: 1px;
  margin: 10px;
  padding: 5px 20px;
  border: 1px solid #CDB37C;
  border-radius: 5px;
  cursor: pointer;
}

.btn_tabs:hover {
  background-color: rgba(205, 179, 124, 0.1);
}

.TabsCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.TabImgCont {
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #CDB37C;
}

@media (max-width: 1280px) {
  .TabsCont {
    width: 100%;
  }

  .TabImgCont {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 1024px) {
  .TabImgCont {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 820px) {
  .btn_tabs {
    margin: 15px 3px;
    padding: 5px 5px;
  }

  .TabImgCont {
    width: 210px;
    height: 210px;
  }
}

@media (max-width: 540px) {
  .TabsMainContainer {
    margin-bottom: 20px;
  }

  .btn_tabs {
    font-size: 18px;
    letter-spacing: 0;
  }

  .TabImgCont {
    width: 155px;
    height: 155px;
    margin: 5px;
    padding: 5px;
  }
}

@media (max-width: 350px) {
  .btn_tabs {
    font-size: 16px;
    letter-spacing: 0;
  }

  .TabImgCont {
    width: 140px;
    height: 140px;
  }
}