.ReviewsMainCont {
  width: 98%;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(205, 179, 124, 0.1);
  position: relative;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 50px 0;
  border: 5px solid #ffffff;
}

.ReviewsContentCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ReviewPar {
  position: absolute;
  top: 10%;
  width: 80%;
}

.ReviewName {
  position: absolute;
  top: 30%;
}

.CommentCont {
  position: absolute;
  top: 0;
  
}

.ReviewsImgCont {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 1000px;
  z-index: 10;
  position: absolute;
  bottom: 15%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

button {
  background-color: transparent;
  border: none;
}

.ReviewsImgBtn {
  width: 70px;
}

.ReviewLineCont {
  display: flex;
  position: absolute;
  bottom: 5%;
}

.ReviewLine {
  background-color: rgba(255, 255, 255, 0.9);
  width: 30px;
  height: 5px;
  margin: 0 5px;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.active {
  background-color: #CDB37C;
}

@media (max-width: 500px) {
  .ReviewsMainCont {
    width: 100%;
    min-height: 350px;
    padding: 0;
    margin: 20px 0;
  }
  
  .ReviewPar {
    top: 5%;
  }
  
  .ReviewName {
    top: 40%;
  }
  
  .ReviewsImgCont {
    width: 100px;
    height: 100px;
  }

  .ReviewsImgBtn {
    width: 50px;
  }
}