.ToShopNavigateMainCont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ToShopNavigateImg {
  width: 230px;
  height: 250px;
  margin: 5px;
  transition: 1s;
}

.ToShopNavigateImg:hover {
  filter: brightness(0.8);
}

.ToShopNavigateBtnImg {
  width: 80px;
}

.ToShopNavigateBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: .5s;
}

.ToShopNavigateBtn:hover {
  gap: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .ToShopNavigateImg {
    width: 140px;
    height: 140px;
    margin: 5px;
  }

  .ToShopNavigateBtnImg {
    width: 40px;
  }
}