.IconsMainCont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #7D7C7C;
}

.IconCont {
  flex: 1;
  border: 2px solid #CDB37C;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IconShop {
  width: 50px;
  height: 50px;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.change {
  background-color: #CDB37C;
  color: #ffffff;
  padding: 10px;
  border: 2px solid #CDB37C;
  border-radius: 20px;
  font-family: "IBM Plex Serif", serif;
  cursor: pointer;
  width: 150px;
  transition: 0.4s;
}

.change:hover {
  background-color: rgba(205, 179, 124, 0.1);
  color: #CDB37C;
  
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  padding: 2%;
  margin: 1%;
  border: 1px solid #CDB37C;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #CDB37C;
}

.ProductImg {
  width: 200px;
  height: 200px;
}

.aboutProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutProductsImg {
  width: 400px;
}

.btnHinzufügen {
  border: 1px solid #CDB37C;
  border-radius: 20px;
  color: #CDB37C;
  padding: 8px;
  font-family: "IBM Plex Serif", serif;
  transition: .4s;
  margin: 10px;
}

.btnHinzufügen:hover {
  background-color: #CDB37C;
  color: #ffffff;
  
  border-radius: 20px;

}

.ProductName, .ProductPrice {
  font-family: "IBM Plex Serif", serif;
  font-size: 14px;
  margin: 0;
  color: #7D7C7C;
}

.CartHeading {
  text-align: center;
  font-family: "IBM Plex Serif", serif;
  color: #CDB37C;
  font-weight: 400;
}

.hrLine {
  border: 1px solid #CDB37C;
}