.IconsMainCont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #7D7C7C;
}

.IconCont {
  flex: 1;
  border: 2px solid #CDB37C;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IconShop {
  width: 50px;
  height: 50px;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.change {
  background-color: #CDB37C;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  border: 2px solid #CDB37C;
  border-radius: 20px;
  font-family: "IBM Plex Serif", serif;
  cursor: pointer;
  width: 150px;
  transition: 0.4s;
}

.change:hover {
  background-color: rgba(205, 179, 124, 0.1);
  background-color: #b59763;
  
}

.FirstShoppingCartCont {
  display: flex;
  justify-content: center;
}

.FirstShoppingCartBtn {
  cursor: pointer;
  border: 1px solid #CDB37C;
  border-radius: 30px;
  width: 40%;
  transition: .4s;
}

.FirstShoppingCartBtn:hover {
  background-color: rgba(205, 179, 124, 0.1);
  color: #ffffff;
}

.FirstShoppingCartPar {
  font-family: "IBM Plex Serif", serif;
  color: #CDB37C;
  letter-spacing: 2px;
  font-size: 18px;

}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  padding: 2%;
  margin: 1%;
  border: 1px solid #CDB37C;
}

.product-card:hover {
  background-color: rgba(245, 245, 245, 0.6);
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #CDB37C;
}

.ProductImg {
  width: 200px;
  height: 200px;
}

.aboutProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutProductsImg {
  width: 400px;
}

.btnHinzufügen {
  border: 1px solid #CDB37C;
  border-radius: 20px;
  color: #CDB37C;
  padding: 8px;
  font-family: "IBM Plex Serif", serif;
  transition: .4s;
  margin: 10px;
}

.btnHinzufügen:hover {
  background-color: #CDB37C;
  color: #ffffff;
  border-radius: 20px;
}

.ProductName, .ProductPrice {
  font-family: "IBM Plex Serif", serif;
  font-size: 14px;
  margin: 0;
  color: #7D7C7C;
}

.ShoppingCartCont {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.ShoppingCartCont.visible {
  opacity: 1;
}

.ShoppingCartBtn {
  position: relative;
  cursor: pointer;
}

.ShoppingCartImg {
  width: 50px;
}

.ShoppingCartNumber {
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 17px;
  background-color: #ffffff;
  border: 1px solid #CDB37C;
  border-radius: 10000px;
  padding: 5px;
  color: red;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 80%;
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.close-button {
  position: absolute;
  top: 25px;
  right: 10px;
  background: transparent;
  border: none;
  width: 30px;
  cursor: pointer;
}

.CartHeading {
  font-family: "IBM Plex Serif", serif;
  color: #CDB37C;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.CartTotalPrice {
  font-family: "IBM Plex Serif", serif;
  color: #7D7C7C;
}

.hrLine {
  border: 1px solid #CDB37C;
}

.CartItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.CartProductImg {
  width: 120px;
  height: 120px;
  border: 1px solid #CDB37C;
  padding: 5px;
}

.CartItem-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AmountCont {
  display: flex;
  align-items: center;
  font-family: "IBM Plex Serif", serif;
  font-size: 14px;
  color: #7D7C7C;
  gap: 5px; /* Abstand zwischen den Buttons und der Zahl */
}

.AmountBtn {
  background-color: #CDB37C;
  color: #ffffff;
  cursor: pointer;
  width: 30px;  /* Etwas größere Buttons für bessere Benutzerfreundlichkeit */
  height: 30px;
  border: none;
  border-radius: 5px;  /* Abgerundete Ecken für die Buttons */
  display: flex;
  align-items: center;
  justify-content: center;
}

.AmountBtn:hover {
  background-color: #b59763;  /* Ein dunklerer Farbton bei Hover */
}

.AmountNumber {
  border: 1px solid #CDB37C;
  width: 30px; /* Gleiche Breite wie die Buttons */
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;  /* Abgerundete Ecken */
  font-size: 14px;
}

.TraschIcon {
  width: 18px;
  height: 18px;
}

.PayIconsCont {
  display: flex;
  justify-content: space-around;
}

.PayIcon {
  width: 30px;
  
}

.aboutProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.AboutProductsImg {
  width: 400px;
  margin-top: 30px;
  border-radius: 20px;
}

.aboutProductsContentCont {
  width: 400px;
}

.typeAboutProducts {
  font-family: "IBM Plex Serif", serif;
  color: #CDB37C;
  text-transform: uppercase;
}

.headingAboutProducts {
  font-family: "Mea Culpa", cursive;
  color: #CDB37C;
  font-weight: 100;
  font-size: 48px;
  
}

.parAboutProducts {
  font-family: "IBM Plex Serif", serif;
  font-size: 18px;
  color: #7D7C7C;
}

.btnAboutProducts {
  font-family: "IBM Plex Serif", serif;
  color: #CDB37C;
  border: 1px solid #CDB37C;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 20px;
  transition: .4s;
}

.btnAboutProducts:hover {
  background-color: rgba(205, 179, 124, 0.1);
}
