.BtnUpIcon {
  width: 40px;
}

.BtnUp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.BtnUp.visible {
  opacity: 1;
}

@media (max-width: 820px) {
  .BtnUp {
    right: 2px;
    bottom: 2px;
  }
}
