.footer {
  background-color: #387478;
  color: #fff;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid #CDB37C; /* Goldene Akzente */
}

.Row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Column {
  display: flex;
  flex-direction: column;
}

.footer .logoFooter {
  width: 85px;
  height: 85px;
}

.LogoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.footer h3 {
  font-size: 1.3rem;
  color: #CDB37C; /* Goldene Farbe */
}

.footer p, .footer a {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #d4af37; /* Goldene Hover-Effekte */
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-nav button {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 12px;
  cursor: pointer;
}

.footer-nav button:hover {
  color: #CDB37C;
}

.FooterSocialIcon {
  width: 24px;
  height: 24px;
  margin: 0 10px ;
}
