.App {
  margin: 0;
  padding: 0;
  position: relative;
}

.logoImg {
  width: 100px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.navElement {
  color: #ffffff;
  text-decoration: none;
  border: 0.5px solid white;
  padding: 7px 20px;
  font-size: 12px;
  font-family: "IBM Plex Serif", serif;
  transition: ease-out 0.5s;
}

.navElement:hover {
  background-color: rgba(255, 255, 255, 0.3);
  
}

.IntroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin-bottom: 120px;
}

.MainHeading {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}

.Heading {
  font-family: "Mea Culpa", cursive;
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.Par {
  font-family: "IBM Plex Serif", serif;
  font-style: italic;
  font-size: 25px;
  letter-spacing: 1px;
}

.HomeMainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(205, 179, 124, 0.1);
}

.HeadingCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
}

.HeadingGold {
  font-family: "IBM Plex Serif", serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #CDB37C;
  letter-spacing: 2px;
  text-align: center;
}

.ParCursive {
  font-family: "IBM Plex Serif", serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  color: #7D7C7C;
  text-align: center;
}

.ParStandart {
  font-size: 16px;
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  color: #7D7C7C;
  text-align: justify;
}

.ParLong {
  margin: 10px 100px;
}

.ParGold {
  font-family: "IBM Plex Serif", serif;
  color: #CDB37C;
  font-weight: 300;
}

.CTA {
  background-color: #ffffff;
  border: 1px solid #CDB37C;
  border-radius: 20px;
  padding: 10px;
}

.CTA:hover {
  cursor: pointer;
}

.ImageCont {
  width: 600px;
  margin-top: 30px;
  border: 1px solid #CDB37C;
  padding: 20px;
}

.Margin {
  margin-bottom: 50px;
}

.AccordionContainer {
  width: 100%;
}

.KontactUsContainer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1625076019815-b1a5f7e5ef1e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwM3x8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 50px;
  color: #ffffff;
}

.KontaktUsBtn {
  padding: 5px 30px;
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  background-color: #CDB37C;
  cursor: pointer;
  transition: .5s;
}

.KontaktUsBtn:hover {
  background-color: #b59763;
}

.KontaktUsBtnText {
  font-family: "IBM Plex Serif", serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.Awards {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.AwardImg {
  width: 150px;
  border-radius: 1000px;
  margin: 0 50px;
}

.EventImg {
  width: 600px;
  border: 1px solid #CDB37C;
  padding: 15px;
  box-sizing: border-box;
}

.ParEvent {
  width: 600px;
  font-size: 16px;
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  color: #7D7C7C;
}

.btnQuotes {
  cursor: pointer;
  margin-bottom: 20px;
}

.random {
  width: 40px;
}

video {
  width: 600px;
  border: 1px solid #CDB37C;
  padding: 15px;
}