.activeAccordion {
  padding: 25px;
  border: 1px solid #CDB37C;
  cursor: pointer;
  text-align: center;
  background-color: rgba(205, 179, 124, 0.1);
  color: #CDB37C;
  font-size: 24px;
  letter-spacing: 1px;
  font-style: italic;
  }

  .defaultAccordion {
  padding: 25px;
  border: 1px solid #7D7C7C;;
  cursor: pointer;
  text-align: center;
  font-family: "IBM Plex Serif", serif;
  font-size: 24px;
  color: #7D7C7C;
  letter-spacing: 1px;
  font-style: italic;
  transition: 0.4s;
  }

  .defaultAccordion:hover {
    background-color: rgba(205, 179, 124, 0.1);
    color: #CDB37C;
    border: 1px solid #CDB37C;
  }

  .ContentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(205, 179, 124, 0.03);
    gap: 50px;
  }

  .AccordionImgCont {
    width: 360px;
    height: 350px;
  }

  .AccordionContentCont {
    width: 360px;
    padding: 10px;
  }
  
  .content {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    color: #7D7C7C;
    letter-spacing: 1px;
    line-height: 30px;
  }